[submodule "sdks/bullet3"]
	path = sdks/bullet3
	url = https://dev.ds-servers.com/sip/bullet3.git
[submodule "source/common"]
	path = source/common
	url = https://dev.ds-servers.com/sip/common.git
[submodule "sdks/graphix"]
	path = sdks/graphix
	url = https://dev.ds-servers.com/sip/graphix.git
[submodule "sdks/mital"]
	path = sdks/mital
	url = https://dev.ds-servers.com/sip/mital.git
[submodule "sdks/ogg"]
	path = sdks/ogg
	url = https://dev.ds-servers.com/sip/ogg.git
[submodule "sdks/vorbis"]
	path = sdks/vorbis
	url = https://dev.ds-servers.com/sip/vorbis.git
